html, body {
    color: #545454;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    line-height: 1.4em;
    font-size: 14px;    
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.row {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    &.center {
        justify-content: center;    
    }

}

footer {
    height: 10%;
    background-color: #545454;
    
    img {
        padding-left: 15%;
    }
}